<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong> On the Station -  </strong>
  <%= @train.current_station.present? ? @train.current_station.title : "No station"  %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
