<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong> On the Station -  </strong>
  <%= @train.current_station.present? ? @train.current_station.title : "No station"  %>
</p>

<p>
  <strong>Carriages</strong>
  <ul>
    <% @train.carriages.each do |car| %>
      <li><%= link_to "Carriage №#{car.number}", car %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Add Carriage", new_train_carriage_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
